[data-scope="popover"][data-part="positioner"] {
  --z-index: 1000 !important;
}

[data-scope="popover"][data-part="content"] {
  background: var(--theme-color-gray-100);
  /*padding: 16px;*/
  border-radius: 8px;
  position: relative;
  /*filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));*/
  min-width: 240px;
  color: var(--theme-color-black);
  overflow: clip;
  box-shadow: 0 1px 16px var(--theme-color-black--a-50);
  border: 1px solid var(--theme-color-white);
}
[data-scope="popover"][data-part="content"][data-state="open"] {
  animation: fadeIn 0.25s ease-out;
}

[data-scope="popover"][data-part="content"][data-state="closed"] {
  animation: fadeOut 0.2s ease-in;
}

[data-scope="popover"][data-part="title"] {
  padding: 8px;
  font-weight: 600;
}

[data-scope="popover"][data-part="description"] {
  padding: 16px;
  background: var(--theme-color-white);
  border-radius: 8px;

  box-shadow: 0 1px 16px var(--theme-color-black--a-20);
}

[data-scope="popover"][data-part="close-trigger"] {
  position: absolute;
  right: 4px;
  top: 4px;
}

[data-scope="popover"][data-part="anchor"] {
  display: inline;
  margin-left: 200px;
}

[data-scope="popover"][data-part="indicator"][data-state="open"] {
  rotate: 90deg;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
