.DatePicker {
  &[data-part="root"] {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
  }

  [data-part="control"] {
    display: inline-flex;
    gap: 8px;
  }

  [data-part="error"] {
    color: var(--theme-color-red);
  }
}

.DatePicker {
  &[data-part="positioner"] {
    [data-part="content"][data-state="open"] {
      display: flex;
      flex-direction: column;

      background: var(--theme-color-gray-100);

      border: 1px solid var(--theme-color-gray-25);
      border-radius: 4px;
      box-shadow: 0 1px 16px var(--theme-color-black--a-20);

      min-width: 320px;
      overflow: clip;
    }
  }
}

.DatePicker {
  &[data-part="positioner"] {
    [data-part="header"] {
      display: flex;
      gap: 8px;
      padding: 8px;
    }

    [data-part="view"] {
      background: var(--theme-color-white);
      padding: 4px;
      border-radius: 4px;
      box-shadow: 0 0 8px var(--theme-color-black--a-10);
      border-top: 1px solid var(--theme-color-gray-300);
    }

    [data-part="view-control"] {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      gap: 8px;
      padding: 4px;

      & > *:nth-child(2) {
        flex: 1;
      }
    }
  }
}

.DatePicker {
  [data-part="table"] {
    width: 100%;
    border-collapse: collapse;
  }

  [data-part="table-header"] {
    padding: 0;
  }

  [data-part="table-cell"] {
    padding: 2px;
  }

  [data-part="table-cell-trigger"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 32px;
    min-height: 32px;
    box-sizing: border-box;

    padding: 4px;

    border-radius: 4px;
    text-align: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(126, 126, 126, 0.171);
    }

    &[data-focus] {
      background: rgba(165, 151, 165, 0.085);
      color: var(--theme-color-primary);
    }

    &[data-outside-range] {
      visibility: hidden;
    }

    &[data-selected] {
      background: var(--theme-color-primary);
      color: white !important ;
    }

    &[data-in-range]:not([data-selected]) {
      background: rgb(240, 219, 240);
    }

    &[data-today] {
      color: var(--theme-color-primary);
    }

    &[data-unavailable] {
      text-decoration: line-through;
      opacity: 0.4;
    }

    &[data-disabled] {
      opacity: 0.4;
    }
  }
}

.DatePicker {
  [data-view="day"] {
    [data-part="table-cell-trigger"] {
      height: auto;
    }
  }

  [data-view="month"] {
    [data-part="table-cell-trigger"] {
      height: 48px;
    }
  }

  [data-view="year"] {
    [data-part="table-cell-trigger"] {
      height: 48px;
    }
  }
}
