.Badge {
  &[data-part="badge"] {
    display: inline-flex;
    justify-content: center;
    gap: 4px;
    border-radius: 128px;
    padding: 4px 8px;

    font-size: 12px;
    white-space: nowrap;
    color: var(--color);

    background: var(--background-color);
    border: 1px solid var(--border-color);
  }

  &[data-fill] {
    display: flex;
  }
}
