.Dialog {
  &[data-part="backdrop"] {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }

  &[data-part="positioner"] {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  [data-part="content"] {
    position: relative;
    background: #fff;

    border-radius: 4px;
    box-shadow: 0 0 32px var(--theme-color-black--a-25);

    [data-part="title"] {
      margin: 0;
      padding: 16px 32px 0 16px;

      font-weight: 600;
    }

    [data-part="description"] {
      margin: 0;
      padding: 0 16px;
    }

    [data-part="body"] {
      padding: 16px;
    }

    [data-part="close-trigger"] {
      position: absolute;
      top: 0;
      right: 0;

      border: 0;
      background: transparent;
      outline: 0;
      padding: 8px;

      width: 32px;
      height: 32px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
