.NumberInput {
  &[data-part="root"] {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
  }

  [data-part="control"] {
    display: inline-flex;
    flex-direction: row;
    flex: 1;
    gap: 8px;
  }

  [data-part="error"] {
    color: var(--theme-color-error);
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
