.Checkbox {
  &[data-part="root"] {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    /* This fixes the inline white-space issue with inline-flex */
    vertical-align: top;
  }

  &[data-part="label"] {
    font-family: inherit;
  }

  &[data-part="indicator"] {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    box-sizing: border-box;

    border-radius: 2px;

    &[data-state="unchecked"] {
      background: var(--theme-color-gray-25);

      svg {
        display: none;
      }
    }

    &[data-state="checked"] {
      background: var(--theme-color-white);
      border: 1px solid var(--theme-color-gray-200);

      box-shadow: 0 1px 2px var(--theme-color-black--a-10);
      color: var(--theme-color-black);
    }
  }

  &[data-focus],
  &[data-focus-within],
  &[data-focus-visible] {
    [data-part="indicator"] {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        border: 1px dotted var(--theme-color-black--a-25);
        inset: 2px;
      }
    }
  }

  &:hover {
    [data-part="indicator"] {
      &[data-state="unchecked"] {
        background: var(--theme-color-white);
        border-color: var(--theme-color-gray-100);
        border-style: solid;
        border-width: 1px 2px 2px 1px;
      }

      &[data-state="checked"] {
        border-color: var(--theme-color-gray-300);
      }
    }
  }

  &:active {
    [data-part="indicator"] {
      &[data-state="unchecked"] {
        background: var(--theme-color-gray-25);
        border-width: 1px;
      }

      &[data-state="checked"] {
        background: var(--theme-color-gray-25);
      }
    }
  }
}
