.List {
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 32px 0;
}

.Section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Showcase {
  border-radius: 8px;

  display: grid;
  grid-template-columns: auto 1fr;

  border: 1px solid var(--theme-color-light-gray-600);
  overflow: clip;
  box-shadow: 0 0 8px var(--theme-color-black--a-10);

  .Component {
    background: var(--theme-color-white);
    border-radius: 8px;
    border-right: 1px solid var(--theme-color-light-gray-600);
    box-shadow: 0 0 4px var(--theme-color-black--a-10);

    padding: 16px;

    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 25vw;
  }

  .Properties {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > div {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 8px;
      align-items: center;
    }

    span {
      &:first-child {
      }

      &:last-child {
        border: 1px solid var(--theme-color-gray);
        color: var(--theme-color-black);
        padding: 4px;
        border-radius: 4px;
      }
    }
  }
}
