.Dialog {
  --z-index: 1000;

  &[data-scope="dialog"][data-part="backdrop"] {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    inset: 0;
    z-index: 10000;

    &[data-state="open"] {
    }

    &[data-state="closed"] {
    }
  }

  &[data-scope="dialog"][data-part="positioner"] {
    height: 100vh;
    width: 100vw;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10010;
  }

  &[data-scope="dialog"][data-part="title"] {
    margin: 0;
    font-weight: 500;
    color: rgb(26, 21, 35);
    font-size: 17px;
  }

  &[data-scope="dialog"][data-part="description"] {
    margin: 10px 0 20px;
    color: rgb(111, 110, 119);
    font-size: 15px;
    line-height: 1.5;
  }

  &[data-scope="dialog"][data-part="content"] {
    background-color: white;
    border-radius: 6px;
    box-shadow:
      rgb(14 18 22 / 35%) 0 10px 38px -10px,
      rgb(14 18 22 / 20%) 0 10px 20px -15px;
    width: 100%;
    max-width: 450px;
    max-height: 85vh;
    padding: 24px;
    position: relative;
    z-index: var(--layer-index);
    transition: transform 0.2s ease-in-out;

    &[data-has-nested] {
      transform: scale(calc(1 - var(--nested-layer-count) * 0.05));
    }

    &[data-state="open"] {
    }

    &[data-state="closed"] {
    }
  }

  [data-scope="dialog"][data-part="close-trigger"] {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    border-radius: 4px;

    &:hover {
      background: var(--theme-color-gray-25);
    }

    &:active {
      background: var(--theme-color-gray-50);
    }

    &:focus {
      outline: 1px dotted var(--theme-color-gray-800);
      outline-offset: -4px;
    }
  }
}
