:root {
  --Drawer--z-index: 10000;
}

.Drawer {
  --layer-index: 0;
  --nested-layer-count: 0;

  &[data-scope="dialog"][data-part="backdrop"] {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    inset: 0;

    z-index: calc(var(--layer-index) + var(--Drawer--z-index));
  }

  &[data-scope="dialog"][data-part="positioner"] {
    height: 100vh;
    width: 100vw;
    position: fixed;
    inset: 0;
    z-index: calc(var(--layer-index) + var(--Drawer--z-index));

    display: flex;

    justify-content: flex-end;
    align-items: center;
  }

  &[data-scope="dialog"][data-part="content"] {
    background-color: var(--theme-color-white);
    height: 100%;

    min-width: 320px;
    max-width: 70vw;
  }

  &[data-scope="dialog"][data-part="title"] {
    color: var(--theme-color-black);

    margin: 0 48px 0 0;
    font-weight: 600;
    font-size: 16px;

    padding: 16px 16px 0 16px;
  }

  &[data-scope="dialog"][data-part="description"] {
    font-size: 16px;
    line-height: 1.5;

    margin: 0 48px 0 0;
    padding: 0 16px 16px 16px;
  }

  &[data-scope="dialog"][data-part="children"] {
    font-size: 16px;
    line-height: 1.5;

    flex: 1;

    padding: 0 16px 16px 16px;
  }

  &[data-scope="dialog"][data-part="footer"] {
    font-size: 16px;
    line-height: 1.5;

    display: flex;
    justify-content: flex-end;

    padding: 16px;
  }

  &[data-scope="dialog"][data-part="close-trigger"] {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    border-radius: 4px;

    &:hover {
      background: var(--theme-color-gray-25);
    }

    &:active {
      background: var(--theme-color-gray-50);
    }

    &:focus {
      outline: 1px dotted var(--theme-color-gray-800);
      outline-offset: -4px;
    }
  }
}
