.DatePicker {
}

.Header {
  padding: 8px;
}

[data-scope="date-picker"][data-part="root"] {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

[data-scope="date-picker"][data-part="control"] {
  display: inline-flex;
  gap: 8px;
}

[data-scope="date-picker"][data-part="table-header"] {
  padding: 0;
}

[data-scope="date-picker"][data-part="table-cell"] {
  padding: 0;
}

[data-scope="date-picker"][data-part="table-cell-trigger"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 4px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 4px;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background: rgba(126, 126, 126, 0.171);
  }

  &[data-focus] {
    background: rgba(165, 151, 165, 0.085);
    color: var(--theme-color-primary);
  }

  &[data-outside-range] {
    visibility: hidden;
  }

  &[data-selected] {
    background: var(--theme-color-primary);
    color: white !important ;
  }

  &[data-in-range]:not([data-selected]) {
    background: rgb(240, 219, 240);
  }

  &[data-today] {
    color: var(--theme-color-primary);
  }

  &[data-unavailable] {
    text-decoration: line-through;
    opacity: 0.4;
  }

  &[data-disabled] {
    opacity: 0.4;
  }
}

[data-state="open"][data-part="content"] {
  display: flex;
  flex-direction: column;
}

[data-scope="date-picker"][data-part="content"] {
  min-width: 320px;

  border: 1px solid var(--theme-color-gray-25);
  box-shadow: 0 1px 16px var(--theme-color-black--a-20);
  overflow: clip;

  background: var(--theme-color-gray-100);
  border-radius: 8px;
}

[data-scope="date-picker"][data-part="view"] {
  background: var(--theme-color-white);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 8px var(--theme-color-black--a-10);
  border-top: 1px solid var(--theme-color-gray-300);
}

[data-scope="date-picker"][data-part="view-control"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;

  & > *:nth-child(2) {
    flex: 1;
  }
}

[data-scope="date-picker"][data-part="table"] {
  min-width: 240px;
  width: 100%;
  border-collapse: collapse;
}

[data-scope="date-picker"][data-part="view-trigger"] {
  border: 0;
  padding: 4px 20px;
  border-radius: 4px;
}

.Error {
  [data-scope="text-input"][data-part="control"] {
    outline-color: var(--theme-color-red);
  }

  [data-scope="date-picker"][data-part="error"] {
    color: var(--theme-color-red);
  }
}
