.NumberInput {
  display: flex;
  flex-direction: column;
  gap: 8px;

  [data-part="input"] {
    display: flex;
    flex: 1;
    position: relative;
    z-index: 0;

    background: #fff;
    border-radius: 4px 0 0 4px;
    padding: 8px;
    box-sizing: border-box;

    box-shadow: 0 1px 4px var(--theme-color-black--a-10);
    border: 0;

    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: none;
    }
  }
}

.Error {
  .InputWrapper::before {
    outline: 1px solid var(--theme-color-red);
    outline-offset: -1px;
  }

  [data-part="error"] {
    color: var(--theme-color-red);
  }
}

.InputWrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid var(--theme-color-gray-100);
    border-radius: 4px 0 0 4px;
    border-right: 0;

    pointer-events: none;

    z-index: 10;
  }
}

.Control {
  display: flex;
}

[data-scope="number-input"][data-part="scrubber"] {
  width: 32px;
  height: 32px;
  background: red;
}

[data-scope="number-input"][data-part="control"] {
  display: flex;
  align-items: center;

  & > * {
    height: 100%;
  }
}

/*[data-scope="number-input"][data-part="input"] {*/
/*  flex: 1;*/
/*  height: 32px;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 4px;*/
/*  padding: 0 8px;*/
/*  text-align: center;*/
/*  font-size: 16px;*/
/*}*/

[data-scope="number-input"][data-part="increment-trigger"],
[data-scope="number-input"][data-part="decrement-trigger"] {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  & svg {
    width: 16px;
    height: 16px;
  }
}

.IncrementButton {
  border-radius: 0;
}

.DecrementButton {
  border-radius: 0 4px 4px 0;
}
