.TextInput {
  &[data-part="root"] {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
  }
}

.TextInput {
  [data-part="label"] {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.TextInput {
  [data-part="control"] {
    position: relative;
    display: flex;

    height: 32px;

    box-shadow: 0 1px 4px var(--theme-color-black--a-10);
    outline: 1px solid var(--theme-color-gray-100);
    outline-offset: 0;
    border-radius: 4px;

    &:focus-within {
      &::after {
        content: "";
        position: absolute;
        inset: 4px;
        z-index: 10;

        pointer-events: none;

        border: 1px dotted var(--theme-color-black--a-25);
      }
    }
  }

  [data-part="input"] {
    display: flex;
    flex: 1;
    position: relative;
    z-index: 0;

    background: #fff;
    border-radius: 4px;
    padding: 8px;
    border: 0;

    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: none;
    }
  }
}

.TextInput {
  &[data-error="true"] {
    [data-part="control"] {
      outline: 1px solid var(--theme-color-error);
    }

    [data-part="error"] {
      color: var(--theme-color-error);
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
