:root {
  --theme-color-black: #000;
  --theme-color-black--a-5: rgba(0, 0, 0, 0.05);
  --theme-color-black--a-10: rgba(0, 0, 0, 0.1);
  --theme-color-black--a-20: rgba(0, 0, 0, 0.2);
  --theme-color-black--a-25: rgba(0, 0, 0, 0.25);
  --theme-color-black--a-30: rgba(0, 0, 0, 0.3);
  --theme-color-black--a-40: rgba(0, 0, 0, 0.4);
  --theme-color-black--a-50: rgba(0, 0, 0, 0.5);
  --theme-color-black--a-60: rgba(0, 0, 0, 0.6);
  --theme-color-black--a-70: rgba(0, 0, 0, 0.7);
  --theme-color-black--a-75: rgba(0, 0, 0, 0.75);
  --theme-color-black--a-80: rgba(0, 0, 0, 0.8);
  --theme-color-black--a-90: rgba(0, 0, 0, 0.9);
  --theme-color-white: #fff;
  --theme-color-white--a-5: rgba(255, 255, 255, 0.05);
  --theme-color-white--a-10: rgba(255, 255, 255, 0.1);
  --theme-color-white--a-20: rgba(255, 255, 255, 0.2);
  --theme-color-white--a-25: rgba(255, 255, 255, 0.25);
  --theme-color-white--a-30: rgba(255, 255, 255, 0.3);
  --theme-color-white--a-40: rgba(255, 255, 255, 0.4);
  --theme-color-white--a-50: rgba(255, 255, 255, 0.5);
  --theme-color-white--a-60: rgba(255, 255, 255, 0.6);
  --theme-color-white--a-70: rgba(255, 255, 255, 0.7);
  --theme-color-white--a-75: rgba(255, 255, 255, 0.75);
  --theme-color-white--a-80: rgba(255, 255, 255, 0.8);
  --theme-color-white--a-90: rgba(255, 255, 255, 0.9);
  --theme-color-light-gray: #ddd;
  --theme-color-light-gray--a-25: rgba(221, 221, 221, 0.25);
  --theme-color-light-gray--a-50: rgba(221, 221, 221, 0.5);
  --theme-color-light-gray--a-75: rgba(221, 221, 221, 0.75);
  --theme-color-light-gray-100: #f8f8f8;
  --theme-color-light-gray-100--a-25: rgba(248, 248, 248, 0.25);
  --theme-color-light-gray-100--a-50: rgba(248, 248, 248, 0.5);
  --theme-color-light-gray-100--a-75: rgba(248, 248, 248, 0.75);
  --theme-color-light-gray-200: #f1f1f1;
  --theme-color-light-gray-200--a-25: rgba(241, 241, 241, 0.25);
  --theme-color-light-gray-200--a-50: rgba(241, 241, 241, 0.5);
  --theme-color-light-gray-200--a-75: rgba(241, 241, 241, 0.75);
  --theme-color-light-gray-300: #ebebeb;
  --theme-color-light-gray-300--a-25: rgba(235, 235, 235, 0.25);
  --theme-color-light-gray-300--a-50: rgba(235, 235, 235, 0.5);
  --theme-color-light-gray-300--a-75: rgba(235, 235, 235, 0.75);
  --theme-color-light-gray-400: #e4e4e4;
  --theme-color-light-gray-400--a-25: rgba(228, 228, 228, 0.25);
  --theme-color-light-gray-400--a-50: rgba(228, 228, 228, 0.5);
  --theme-color-light-gray-400--a-75: rgba(228, 228, 228, 0.75);
  --theme-color-light-gray-500: #dddddd;
  --theme-color-light-gray-500--a-25: rgba(221, 221, 221, 0.25);
  --theme-color-light-gray-500--a-50: rgba(221, 221, 221, 0.5);
  --theme-color-light-gray-500--a-75: rgba(221, 221, 221, 0.75);
  --theme-color-light-gray-600: #d2d2d2;
  --theme-color-light-gray-600--a-25: rgba(210, 210, 210, 0.25);
  --theme-color-light-gray-600--a-50: rgba(210, 210, 210, 0.5);
  --theme-color-light-gray-600--a-75: rgba(210, 210, 210, 0.75);
  --theme-color-light-gray-700: #c7c7c7;
  --theme-color-light-gray-700--a-25: rgba(199, 199, 199, 0.25);
  --theme-color-light-gray-700--a-50: rgba(199, 199, 199, 0.5);
  --theme-color-light-gray-700--a-75: rgba(199, 199, 199, 0.75);
  --theme-color-light-gray-800: #bcbcbc;
  --theme-color-light-gray-800--a-25: rgba(188, 188, 188, 0.25);
  --theme-color-light-gray-800--a-50: rgba(188, 188, 188, 0.5);
  --theme-color-light-gray-800--a-75: rgba(188, 188, 188, 0.75);
  --theme-color-light-gray-900: #b1b1b1;
  --theme-color-light-gray-900--a-25: rgba(177, 177, 177, 0.25);
  --theme-color-light-gray-900--a-50: rgba(177, 177, 177, 0.5);
  --theme-color-light-gray-900--a-75: rgba(177, 177, 177, 0.75);
  --theme-color-gray: #777;
  --theme-color-gray--a-25: rgba(119, 119, 119, 0.25);
  --theme-color-gray--a-50: rgba(119, 119, 119, 0.5);
  --theme-color-gray--a-75: rgba(119, 119, 119, 0.75);
  --theme-color-gray-25: #f1f1f1;
  --theme-color-gray-25--a-25: rgba(241, 241, 241, 0.25);
  --theme-color-gray-25--a-50: rgba(241, 241, 241, 0.5);
  --theme-color-gray-25--a-75: rgba(241, 241, 241, 0.75);
  --theme-color-gray-50: #e8e8e8;
  --theme-color-gray-50--a-25: rgba(232, 232, 232, 0.25);
  --theme-color-gray-50--a-50: rgba(232, 232, 232, 0.5);
  --theme-color-gray-50--a-75: rgba(232, 232, 232, 0.75);
  --theme-color-gray-100: #e1e1e1;
  --theme-color-gray-100--a-25: rgba(225, 225, 225, 0.25);
  --theme-color-gray-100--a-50: rgba(225, 225, 225, 0.5);
  --theme-color-gray-100--a-75: rgba(225, 225, 225, 0.75);
  --theme-color-gray-200: #d2d2d2;
  --theme-color-gray-200--a-25: rgba(210, 210, 210, 0.25);
  --theme-color-gray-200--a-50: rgba(210, 210, 210, 0.5);
  --theme-color-gray-200--a-75: rgba(210, 210, 210, 0.75);
  --theme-color-gray-300: #bbbbbb;
  --theme-color-gray-300--a-25: rgba(187, 187, 187, 0.25);
  --theme-color-gray-300--a-50: rgba(187, 187, 187, 0.5);
  --theme-color-gray-300--a-75: rgba(187, 187, 187, 0.75);
  --theme-color-gray-400: #999999;
  --theme-color-gray-400--a-25: rgba(153, 153, 153, 0.25);
  --theme-color-gray-400--a-50: rgba(153, 153, 153, 0.5);
  --theme-color-gray-400--a-75: rgba(153, 153, 153, 0.75);
  --theme-color-gray-500: #777777;
  --theme-color-gray-500--a-25: rgba(119, 119, 119, 0.25);
  --theme-color-gray-500--a-50: rgba(119, 119, 119, 0.5);
  --theme-color-gray-500--a-75: rgba(119, 119, 119, 0.75);
  --theme-color-gray-600: #605e5e;
  --theme-color-gray-600--a-25: rgba(96, 94, 94, 0.25);
  --theme-color-gray-600--a-50: rgba(96, 94, 94, 0.5);
  --theme-color-gray-600--a-75: rgba(96, 94, 94, 0.75);
  --theme-color-gray-700: #4b4848;
  --theme-color-gray-700--a-25: rgba(75, 72, 72, 0.25);
  --theme-color-gray-700--a-50: rgba(75, 72, 72, 0.5);
  --theme-color-gray-700--a-75: rgba(75, 72, 72, 0.75);
  --theme-color-gray-800: #3d3a3a;
  --theme-color-gray-800--a-25: rgba(61, 58, 58, 0.25);
  --theme-color-gray-800--a-50: rgba(61, 58, 58, 0.5);
  --theme-color-gray-800--a-75: rgba(61, 58, 58, 0.75);
  --theme-color-gray-900: #2e2d2d;
  --theme-color-gray-900--a-25: rgba(46, 45, 45, 0.25);
  --theme-color-gray-900--a-50: rgba(46, 45, 45, 0.5);
  --theme-color-gray-900--a-75: rgba(46, 45, 45, 0.75);
  --theme-color-gray-950: #222121;
  --theme-color-gray-950--a-25: rgba(34, 33, 33, 0.25);
  --theme-color-gray-950--a-50: rgba(34, 33, 33, 0.5);
  --theme-color-gray-950--a-75: rgba(34, 33, 33, 0.75);
  --theme-color-gray-975: #131313;
  --theme-color-gray-975--a-25: rgba(19, 19, 19, 0.25);
  --theme-color-gray-975--a-50: rgba(19, 19, 19, 0.5);
  --theme-color-gray-975--a-75: rgba(19, 19, 19, 0.75);
  --theme-color-dark-gray: #222;
  --theme-color-dark-gray--a-25: rgba(34, 34, 34, 0.25);
  --theme-color-dark-gray--a-50: rgba(34, 34, 34, 0.5);
  --theme-color-dark-gray--a-75: rgba(34, 34, 34, 0.75);
  --theme-color-dark-gray-100: #4e4e4e;
  --theme-color-dark-gray-100--a-25: rgba(78, 78, 78, 0.25);
  --theme-color-dark-gray-100--a-50: rgba(78, 78, 78, 0.5);
  --theme-color-dark-gray-100--a-75: rgba(78, 78, 78, 0.75);
  --theme-color-dark-gray-200: #434343;
  --theme-color-dark-gray-200--a-25: rgba(67, 67, 67, 0.25);
  --theme-color-dark-gray-200--a-50: rgba(67, 67, 67, 0.5);
  --theme-color-dark-gray-200--a-75: rgba(67, 67, 67, 0.75);
  --theme-color-dark-gray-300: #383838;
  --theme-color-dark-gray-300--a-25: rgba(56, 56, 56, 0.25);
  --theme-color-dark-gray-300--a-50: rgba(56, 56, 56, 0.5);
  --theme-color-dark-gray-300--a-75: rgba(56, 56, 56, 0.75);
  --theme-color-dark-gray-400: #2d2d2d;
  --theme-color-dark-gray-400--a-25: rgba(45, 45, 45, 0.25);
  --theme-color-dark-gray-400--a-50: rgba(45, 45, 45, 0.5);
  --theme-color-dark-gray-400--a-75: rgba(45, 45, 45, 0.75);
  --theme-color-dark-gray-500: #222222;
  --theme-color-dark-gray-500--a-25: rgba(34, 34, 34, 0.25);
  --theme-color-dark-gray-500--a-50: rgba(34, 34, 34, 0.5);
  --theme-color-dark-gray-500--a-75: rgba(34, 34, 34, 0.75);
  --theme-color-dark-gray-600: #1f1f1f;
  --theme-color-dark-gray-600--a-25: rgba(31, 31, 31, 0.25);
  --theme-color-dark-gray-600--a-50: rgba(31, 31, 31, 0.5);
  --theme-color-dark-gray-600--a-75: rgba(31, 31, 31, 0.75);
  --theme-color-dark-gray-700: #1b1b1b;
  --theme-color-dark-gray-700--a-25: rgba(27, 27, 27, 0.25);
  --theme-color-dark-gray-700--a-50: rgba(27, 27, 27, 0.5);
  --theme-color-dark-gray-700--a-75: rgba(27, 27, 27, 0.75);
  --theme-color-dark-gray-800: #181818;
  --theme-color-dark-gray-800--a-25: rgba(24, 24, 24, 0.25);
  --theme-color-dark-gray-800--a-50: rgba(24, 24, 24, 0.5);
  --theme-color-dark-gray-800--a-75: rgba(24, 24, 24, 0.75);
  --theme-color-dark-gray-900: #141414;
  --theme-color-dark-gray-900--a-25: rgba(20, 20, 20, 0.25);
  --theme-color-dark-gray-900--a-50: rgba(20, 20, 20, 0.5);
  --theme-color-dark-gray-900--a-75: rgba(20, 20, 20, 0.75);
  --theme-color-primary: #39ace6;
  --theme-color-primary--a-25: rgba(57, 172, 230, 0.25);
  --theme-color-primary--a-50: rgba(57, 172, 230, 0.5);
  --theme-color-primary--a-75: rgba(57, 172, 230, 0.75);
  --theme-color-primary-25: #ebf7fd;
  --theme-color-primary-25--a-25: rgba(235, 247, 253, 0.25);
  --theme-color-primary-25--a-50: rgba(235, 247, 253, 0.5);
  --theme-color-primary-25--a-75: rgba(235, 247, 253, 0.75);
  --theme-color-primary-50: #ddf1fb;
  --theme-color-primary-50--a-25: rgba(221, 241, 251, 0.25);
  --theme-color-primary-50--a-50: rgba(221, 241, 251, 0.5);
  --theme-color-primary-50--a-75: rgba(221, 241, 251, 0.75);
  --theme-color-primary-100: #d3edfa;
  --theme-color-primary-100--a-25: rgba(211, 237, 250, 0.25);
  --theme-color-primary-100--a-50: rgba(211, 237, 250, 0.5);
  --theme-color-primary-100--a-75: rgba(211, 237, 250, 0.75);
  --theme-color-primary-200: #bee4f7;
  --theme-color-primary-200--a-25: rgba(190, 228, 247, 0.25);
  --theme-color-primary-200--a-50: rgba(190, 228, 247, 0.5);
  --theme-color-primary-200--a-75: rgba(190, 228, 247, 0.75);
  --theme-color-primary-300: #9cd6f3;
  --theme-color-primary-300--a-25: rgba(156, 214, 243, 0.25);
  --theme-color-primary-300--a-50: rgba(156, 214, 243, 0.5);
  --theme-color-primary-300--a-75: rgba(156, 214, 243, 0.75);
  --theme-color-primary-400: #6bc1ec;
  --theme-color-primary-400--a-25: rgba(107, 193, 236, 0.25);
  --theme-color-primary-400--a-50: rgba(107, 193, 236, 0.5);
  --theme-color-primary-400--a-75: rgba(107, 193, 236, 0.75);
  --theme-color-primary-500: #39ace6;
  --theme-color-primary-500--a-25: rgba(57, 172, 230, 0.25);
  --theme-color-primary-500--a-50: rgba(57, 172, 230, 0.5);
  --theme-color-primary-500--a-75: rgba(57, 172, 230, 0.75);
  --theme-color-primary-600: #2c8ab9;
  --theme-color-primary-600--a-25: rgba(44, 138, 185, 0.25);
  --theme-color-primary-600--a-50: rgba(44, 138, 185, 0.5);
  --theme-color-primary-600--a-75: rgba(44, 138, 185, 0.75);
  --theme-color-primary-700: #226b90;
  --theme-color-primary-700--a-25: rgba(34, 107, 144, 0.25);
  --theme-color-primary-700--a-50: rgba(34, 107, 144, 0.5);
  --theme-color-primary-700--a-75: rgba(34, 107, 144, 0.75);
  --theme-color-primary-800: #1a5775;
  --theme-color-primary-800--a-25: rgba(26, 87, 117, 0.25);
  --theme-color-primary-800--a-50: rgba(26, 87, 117, 0.5);
  --theme-color-primary-800--a-75: rgba(26, 87, 117, 0.75);
  --theme-color-primary-900: #154258;
  --theme-color-primary-900--a-25: rgba(21, 66, 88, 0.25);
  --theme-color-primary-900--a-50: rgba(21, 66, 88, 0.5);
  --theme-color-primary-900--a-75: rgba(21, 66, 88, 0.75);
  --theme-color-primary-950: #103041;
  --theme-color-primary-950--a-25: rgba(16, 48, 65, 0.25);
  --theme-color-primary-950--a-50: rgba(16, 48, 65, 0.5);
  --theme-color-primary-950--a-75: rgba(16, 48, 65, 0.75);
  --theme-color-primary-975: #091c25;
  --theme-color-primary-975--a-25: rgba(9, 28, 37, 0.25);
  --theme-color-primary-975--a-50: rgba(9, 28, 37, 0.5);
  --theme-color-primary-975--a-75: rgba(9, 28, 37, 0.75);
  --theme-color-error: #fa5252;
  --theme-color-error--a-25: rgba(250, 82, 82, 0.25);
  --theme-color-error--a-50: rgba(250, 82, 82, 0.5);
  --theme-color-error--a-75: rgba(250, 82, 82, 0.75);
  --theme-color-error-25: #ffeeee;
  --theme-color-error-25--a-25: rgba(255, 238, 238, 0.25);
  --theme-color-error-25--a-50: rgba(255, 238, 238, 0.5);
  --theme-color-error-25--a-75: rgba(255, 238, 238, 0.75);
  --theme-color-error-50: #fee2e2;
  --theme-color-error-50--a-25: rgba(254, 226, 226, 0.25);
  --theme-color-error-50--a-50: rgba(254, 226, 226, 0.5);
  --theme-color-error-50--a-75: rgba(254, 226, 226, 0.75);
  --theme-color-error-100: #fed9d9;
  --theme-color-error-100--a-25: rgba(254, 217, 217, 0.25);
  --theme-color-error-100--a-50: rgba(254, 217, 217, 0.5);
  --theme-color-error-100--a-75: rgba(254, 217, 217, 0.75);
  --theme-color-error-200: #fdc6c6;
  --theme-color-error-200--a-25: rgba(253, 198, 198, 0.25);
  --theme-color-error-200--a-50: rgba(253, 198, 198, 0.5);
  --theme-color-error-200--a-75: rgba(253, 198, 198, 0.75);
  --theme-color-error-300: #fda9a9;
  --theme-color-error-300--a-25: rgba(253, 169, 169, 0.25);
  --theme-color-error-300--a-50: rgba(253, 169, 169, 0.5);
  --theme-color-error-300--a-75: rgba(253, 169, 169, 0.75);
  --theme-color-error-400: #fb7d7d;
  --theme-color-error-400--a-25: rgba(251, 125, 125, 0.25);
  --theme-color-error-400--a-50: rgba(251, 125, 125, 0.5);
  --theme-color-error-400--a-75: rgba(251, 125, 125, 0.75);
  --theme-color-error-500: #fa5252;
  --theme-color-error-500--a-25: rgba(250, 82, 82, 0.25);
  --theme-color-error-500--a-50: rgba(250, 82, 82, 0.5);
  --theme-color-error-500--a-75: rgba(250, 82, 82, 0.75);
  --theme-color-error-600: #c94040;
  --theme-color-error-600--a-25: rgba(201, 64, 64, 0.25);
  --theme-color-error-600--a-50: rgba(201, 64, 64, 0.5);
  --theme-color-error-600--a-75: rgba(201, 64, 64, 0.75);
  --theme-color-error-700: #9d3131;
  --theme-color-error-700--a-25: rgba(157, 49, 49, 0.25);
  --theme-color-error-700--a-50: rgba(157, 49, 49, 0.5);
  --theme-color-error-700--a-75: rgba(157, 49, 49, 0.75);
  --theme-color-error-800: #7f2727;
  --theme-color-error-800--a-25: rgba(127, 39, 39, 0.25);
  --theme-color-error-800--a-50: rgba(127, 39, 39, 0.5);
  --theme-color-error-800--a-75: rgba(127, 39, 39, 0.75);
  --theme-color-error-900: #601f1f;
  --theme-color-error-900--a-25: rgba(96, 31, 31, 0.25);
  --theme-color-error-900--a-50: rgba(96, 31, 31, 0.5);
  --theme-color-error-900--a-75: rgba(96, 31, 31, 0.75);
  --theme-color-error-950: #461616;
  --theme-color-error-950--a-25: rgba(70, 22, 22, 0.25);
  --theme-color-error-950--a-50: rgba(70, 22, 22, 0.5);
  --theme-color-error-950--a-75: rgba(70, 22, 22, 0.75);
  --theme-color-error-975: #280d0d;
  --theme-color-error-975--a-25: rgba(40, 13, 13, 0.25);
  --theme-color-error-975--a-50: rgba(40, 13, 13, 0.5);
  --theme-color-error-975--a-75: rgba(40, 13, 13, 0.75);
  --theme-color-red: #fa5252;
  --theme-color-red--a-25: rgba(250, 82, 82, 0.25);
  --theme-color-red--a-50: rgba(250, 82, 82, 0.5);
  --theme-color-red--a-75: rgba(250, 82, 82, 0.75);
  --theme-color-red-25: #ffeeee;
  --theme-color-red-25--a-25: rgba(255, 238, 238, 0.25);
  --theme-color-red-25--a-50: rgba(255, 238, 238, 0.5);
  --theme-color-red-25--a-75: rgba(255, 238, 238, 0.75);
  --theme-color-red-50: #fee2e2;
  --theme-color-red-50--a-25: rgba(254, 226, 226, 0.25);
  --theme-color-red-50--a-50: rgba(254, 226, 226, 0.5);
  --theme-color-red-50--a-75: rgba(254, 226, 226, 0.75);
  --theme-color-red-100: #fed9d9;
  --theme-color-red-100--a-25: rgba(254, 217, 217, 0.25);
  --theme-color-red-100--a-50: rgba(254, 217, 217, 0.5);
  --theme-color-red-100--a-75: rgba(254, 217, 217, 0.75);
  --theme-color-red-200: #fdc6c6;
  --theme-color-red-200--a-25: rgba(253, 198, 198, 0.25);
  --theme-color-red-200--a-50: rgba(253, 198, 198, 0.5);
  --theme-color-red-200--a-75: rgba(253, 198, 198, 0.75);
  --theme-color-red-300: #fda9a9;
  --theme-color-red-300--a-25: rgba(253, 169, 169, 0.25);
  --theme-color-red-300--a-50: rgba(253, 169, 169, 0.5);
  --theme-color-red-300--a-75: rgba(253, 169, 169, 0.75);
  --theme-color-red-400: #fb7d7d;
  --theme-color-red-400--a-25: rgba(251, 125, 125, 0.25);
  --theme-color-red-400--a-50: rgba(251, 125, 125, 0.5);
  --theme-color-red-400--a-75: rgba(251, 125, 125, 0.75);
  --theme-color-red-500: #fa5252;
  --theme-color-red-500--a-25: rgba(250, 82, 82, 0.25);
  --theme-color-red-500--a-50: rgba(250, 82, 82, 0.5);
  --theme-color-red-500--a-75: rgba(250, 82, 82, 0.75);
  --theme-color-red-600: #c94040;
  --theme-color-red-600--a-25: rgba(201, 64, 64, 0.25);
  --theme-color-red-600--a-50: rgba(201, 64, 64, 0.5);
  --theme-color-red-600--a-75: rgba(201, 64, 64, 0.75);
  --theme-color-red-700: #9d3131;
  --theme-color-red-700--a-25: rgba(157, 49, 49, 0.25);
  --theme-color-red-700--a-50: rgba(157, 49, 49, 0.5);
  --theme-color-red-700--a-75: rgba(157, 49, 49, 0.75);
  --theme-color-red-800: #7f2727;
  --theme-color-red-800--a-25: rgba(127, 39, 39, 0.25);
  --theme-color-red-800--a-50: rgba(127, 39, 39, 0.5);
  --theme-color-red-800--a-75: rgba(127, 39, 39, 0.75);
  --theme-color-red-900: #601f1f;
  --theme-color-red-900--a-25: rgba(96, 31, 31, 0.25);
  --theme-color-red-900--a-50: rgba(96, 31, 31, 0.5);
  --theme-color-red-900--a-75: rgba(96, 31, 31, 0.75);
  --theme-color-red-950: #461616;
  --theme-color-red-950--a-25: rgba(70, 22, 22, 0.25);
  --theme-color-red-950--a-50: rgba(70, 22, 22, 0.5);
  --theme-color-red-950--a-75: rgba(70, 22, 22, 0.75);
  --theme-color-red-975: #280d0d;
  --theme-color-red-975--a-25: rgba(40, 13, 13, 0.25);
  --theme-color-red-975--a-50: rgba(40, 13, 13, 0.5);
  --theme-color-red-975--a-75: rgba(40, 13, 13, 0.75);
  --theme-color-green: #40c057;
  --theme-color-green--a-25: rgba(64, 192, 87, 0.25);
  --theme-color-green--a-50: rgba(64, 192, 87, 0.5);
  --theme-color-green--a-75: rgba(64, 192, 87, 0.75);
  --theme-color-green-25: #ecf9ee;
  --theme-color-green-25--a-25: rgba(236, 249, 238, 0.25);
  --theme-color-green-25--a-50: rgba(236, 249, 238, 0.5);
  --theme-color-green-25--a-75: rgba(236, 249, 238, 0.75);
  --theme-color-green-50: #dff4e2;
  --theme-color-green-50--a-25: rgba(223, 244, 226, 0.25);
  --theme-color-green-50--a-50: rgba(223, 244, 226, 0.5);
  --theme-color-green-50--a-75: rgba(223, 244, 226, 0.75);
  --theme-color-green-100: #d5f1da;
  --theme-color-green-100--a-25: rgba(213, 241, 218, 0.25);
  --theme-color-green-100--a-50: rgba(213, 241, 218, 0.5);
  --theme-color-green-100--a-75: rgba(213, 241, 218, 0.75);
  --theme-color-green-200: #c0eac8;
  --theme-color-green-200--a-25: rgba(192, 234, 200, 0.25);
  --theme-color-green-200--a-50: rgba(192, 234, 200, 0.5);
  --theme-color-green-200--a-75: rgba(192, 234, 200, 0.75);
  --theme-color-green-300: #a0e0ab;
  --theme-color-green-300--a-25: rgba(160, 224, 171, 0.25);
  --theme-color-green-300--a-50: rgba(160, 224, 171, 0.5);
  --theme-color-green-300--a-75: rgba(160, 224, 171, 0.75);
  --theme-color-green-400: #70d081;
  --theme-color-green-400--a-25: rgba(112, 208, 129, 0.25);
  --theme-color-green-400--a-50: rgba(112, 208, 129, 0.5);
  --theme-color-green-400--a-75: rgba(112, 208, 129, 0.75);
  --theme-color-green-500: #40c057;
  --theme-color-green-500--a-25: rgba(64, 192, 87, 0.25);
  --theme-color-green-500--a-50: rgba(64, 192, 87, 0.5);
  --theme-color-green-500--a-75: rgba(64, 192, 87, 0.75);
  --theme-color-green-600: #329b45;
  --theme-color-green-600--a-25: rgba(50, 155, 69, 0.25);
  --theme-color-green-600--a-50: rgba(50, 155, 69, 0.5);
  --theme-color-green-600--a-75: rgba(50, 155, 69, 0.75);
  --theme-color-green-700: #267935;
  --theme-color-green-700--a-25: rgba(38, 121, 53, 0.25);
  --theme-color-green-700--a-50: rgba(38, 121, 53, 0.5);
  --theme-color-green-700--a-75: rgba(38, 121, 53, 0.75);
  --theme-color-green-800: #1e622a;
  --theme-color-green-800--a-25: rgba(30, 98, 42, 0.25);
  --theme-color-green-800--a-50: rgba(30, 98, 42, 0.5);
  --theme-color-green-800--a-75: rgba(30, 98, 42, 0.75);
  --theme-color-green-900: #184921;
  --theme-color-green-900--a-25: rgba(24, 73, 33, 0.25);
  --theme-color-green-900--a-50: rgba(24, 73, 33, 0.5);
  --theme-color-green-900--a-75: rgba(24, 73, 33, 0.75);
  --theme-color-green-950: #123618;
  --theme-color-green-950--a-25: rgba(18, 54, 24, 0.25);
  --theme-color-green-950--a-50: rgba(18, 54, 24, 0.5);
  --theme-color-green-950--a-75: rgba(18, 54, 24, 0.75);
  --theme-color-green-975: #0a1f0e;
  --theme-color-green-975--a-25: rgba(10, 31, 14, 0.25);
  --theme-color-green-975--a-50: rgba(10, 31, 14, 0.5);
  --theme-color-green-975--a-75: rgba(10, 31, 14, 0.75);
  --theme-color-pink: #db2777;
  --theme-color-pink--a-25: rgba(219, 39, 119, 0.25);
  --theme-color-pink--a-50: rgba(219, 39, 119, 0.5);
  --theme-color-pink--a-75: rgba(219, 39, 119, 0.75);
  --theme-color-pink-25: #fbe9f1;
  --theme-color-pink-25--a-25: rgba(251, 233, 241, 0.25);
  --theme-color-pink-25--a-50: rgba(251, 233, 241, 0.5);
  --theme-color-pink-25--a-75: rgba(251, 233, 241, 0.75);
  --theme-color-pink-50: #f9dae8;
  --theme-color-pink-50--a-25: rgba(249, 218, 232, 0.25);
  --theme-color-pink-50--a-50: rgba(249, 218, 232, 0.5);
  --theme-color-pink-50--a-75: rgba(249, 218, 232, 0.75);
  --theme-color-pink-100: #f7cfe1;
  --theme-color-pink-100--a-25: rgba(247, 207, 225, 0.25);
  --theme-color-pink-100--a-50: rgba(247, 207, 225, 0.5);
  --theme-color-pink-100--a-75: rgba(247, 207, 225, 0.75);
  --theme-color-pink-200: #f3b8d2;
  --theme-color-pink-200--a-25: rgba(243, 184, 210, 0.25);
  --theme-color-pink-200--a-50: rgba(243, 184, 210, 0.5);
  --theme-color-pink-200--a-75: rgba(243, 184, 210, 0.75);
  --theme-color-pink-300: #ed93bb;
  --theme-color-pink-300--a-25: rgba(237, 147, 187, 0.25);
  --theme-color-pink-300--a-50: rgba(237, 147, 187, 0.5);
  --theme-color-pink-300--a-75: rgba(237, 147, 187, 0.75);
  --theme-color-pink-400: #e45d99;
  --theme-color-pink-400--a-25: rgba(228, 93, 153, 0.25);
  --theme-color-pink-400--a-50: rgba(228, 93, 153, 0.5);
  --theme-color-pink-400--a-75: rgba(228, 93, 153, 0.75);
  --theme-color-pink-500: #db2777;
  --theme-color-pink-500--a-25: rgba(219, 39, 119, 0.25);
  --theme-color-pink-500--a-50: rgba(219, 39, 119, 0.5);
  --theme-color-pink-500--a-75: rgba(219, 39, 119, 0.75);
  --theme-color-pink-600: #b01e5f;
  --theme-color-pink-600--a-25: rgba(176, 30, 95, 0.25);
  --theme-color-pink-600--a-50: rgba(176, 30, 95, 0.5);
  --theme-color-pink-600--a-75: rgba(176, 30, 95, 0.75);
  --theme-color-pink-700: #89174a;
  --theme-color-pink-700--a-25: rgba(137, 23, 74, 0.25);
  --theme-color-pink-700--a-50: rgba(137, 23, 74, 0.5);
  --theme-color-pink-700--a-75: rgba(137, 23, 74, 0.75);
  --theme-color-pink-800: #6f123b;
  --theme-color-pink-800--a-25: rgba(111, 18, 59, 0.25);
  --theme-color-pink-800--a-50: rgba(111, 18, 59, 0.5);
  --theme-color-pink-800--a-75: rgba(111, 18, 59, 0.75);
  --theme-color-pink-900: #540e2d;
  --theme-color-pink-900--a-25: rgba(84, 14, 45, 0.25);
  --theme-color-pink-900--a-50: rgba(84, 14, 45, 0.5);
  --theme-color-pink-900--a-75: rgba(84, 14, 45, 0.75);
  --theme-color-pink-950: #3e0b21;
  --theme-color-pink-950--a-25: rgba(62, 11, 33, 0.25);
  --theme-color-pink-950--a-50: rgba(62, 11, 33, 0.5);
  --theme-color-pink-950--a-75: rgba(62, 11, 33, 0.75);
  --theme-color-pink-975: #230613;
  --theme-color-pink-975--a-25: rgba(35, 6, 19, 0.25);
  --theme-color-pink-975--a-50: rgba(35, 6, 19, 0.5);
  --theme-color-pink-975--a-75: rgba(35, 6, 19, 0.75);
  --theme-color-purple: #9333ea;
  --theme-color-purple--a-25: rgba(147, 51, 234, 0.25);
  --theme-color-purple--a-50: rgba(147, 51, 234, 0.5);
  --theme-color-purple--a-75: rgba(147, 51, 234, 0.75);
  --theme-color-purple-25: #f4ebfd;
  --theme-color-purple-25--a-25: rgba(244, 235, 253, 0.25);
  --theme-color-purple-25--a-50: rgba(244, 235, 253, 0.5);
  --theme-color-purple-25--a-75: rgba(244, 235, 253, 0.75);
  --theme-color-purple-50: #eddcfb;
  --theme-color-purple-50--a-25: rgba(237, 220, 251, 0.25);
  --theme-color-purple-50--a-50: rgba(237, 220, 251, 0.5);
  --theme-color-purple-50--a-75: rgba(237, 220, 251, 0.75);
  --theme-color-purple-100: #e7d2fa;
  --theme-color-purple-100--a-25: rgba(231, 210, 250, 0.25);
  --theme-color-purple-100--a-50: rgba(231, 210, 250, 0.5);
  --theme-color-purple-100--a-75: rgba(231, 210, 250, 0.75);
  --theme-color-purple-200: #dbbcf8;
  --theme-color-purple-200--a-25: rgba(219, 188, 248, 0.25);
  --theme-color-purple-200--a-50: rgba(219, 188, 248, 0.5);
  --theme-color-purple-200--a-75: rgba(219, 188, 248, 0.75);
  --theme-color-purple-300: #c999f5;
  --theme-color-purple-300--a-25: rgba(201, 153, 245, 0.25);
  --theme-color-purple-300--a-50: rgba(201, 153, 245, 0.5);
  --theme-color-purple-300--a-75: rgba(201, 153, 245, 0.75);
  --theme-color-purple-400: #ae66ef;
  --theme-color-purple-400--a-25: rgba(174, 102, 239, 0.25);
  --theme-color-purple-400--a-50: rgba(174, 102, 239, 0.5);
  --theme-color-purple-400--a-75: rgba(174, 102, 239, 0.75);
  --theme-color-purple-500: #9333ea;
  --theme-color-purple-500--a-25: rgba(147, 51, 234, 0.25);
  --theme-color-purple-500--a-50: rgba(147, 51, 234, 0.5);
  --theme-color-purple-500--a-75: rgba(147, 51, 234, 0.75);
  --theme-color-purple-600: #7628bc;
  --theme-color-purple-600--a-25: rgba(118, 40, 188, 0.25);
  --theme-color-purple-600--a-50: rgba(118, 40, 188, 0.5);
  --theme-color-purple-600--a-75: rgba(118, 40, 188, 0.75);
  --theme-color-purple-700: #5b1e93;
  --theme-color-purple-700--a-25: rgba(91, 30, 147, 0.25);
  --theme-color-purple-700--a-50: rgba(91, 30, 147, 0.5);
  --theme-color-purple-700--a-75: rgba(91, 30, 147, 0.75);
  --theme-color-purple-800: #4a1777;
  --theme-color-purple-800--a-25: rgba(74, 23, 119, 0.25);
  --theme-color-purple-800--a-50: rgba(74, 23, 119, 0.5);
  --theme-color-purple-800--a-75: rgba(74, 23, 119, 0.75);
  --theme-color-purple-900: #381359;
  --theme-color-purple-900--a-25: rgba(56, 19, 89, 0.25);
  --theme-color-purple-900--a-50: rgba(56, 19, 89, 0.5);
  --theme-color-purple-900--a-75: rgba(56, 19, 89, 0.75);
  --theme-color-purple-950: #290e42;
  --theme-color-purple-950--a-25: rgba(41, 14, 66, 0.25);
  --theme-color-purple-950--a-50: rgba(41, 14, 66, 0.5);
  --theme-color-purple-950--a-75: rgba(41, 14, 66, 0.75);
  --theme-color-purple-975: #180826;
  --theme-color-purple-975--a-25: rgba(24, 8, 38, 0.25);
  --theme-color-purple-975--a-50: rgba(24, 8, 38, 0.5);
  --theme-color-purple-975--a-75: rgba(24, 8, 38, 0.75);
  --theme-color-cyan: #0891b2;
  --theme-color-cyan--a-25: rgba(8, 145, 178, 0.25);
  --theme-color-cyan--a-50: rgba(8, 145, 178, 0.5);
  --theme-color-cyan--a-75: rgba(8, 145, 178, 0.75);
  --theme-color-cyan-25: #e6f4f7;
  --theme-color-cyan-25--a-25: rgba(230, 244, 247, 0.25);
  --theme-color-cyan-25--a-50: rgba(230, 244, 247, 0.5);
  --theme-color-cyan-25--a-75: rgba(230, 244, 247, 0.75);
  --theme-color-cyan-50: #d5ecf2;
  --theme-color-cyan-50--a-25: rgba(213, 236, 242, 0.25);
  --theme-color-cyan-50--a-50: rgba(213, 236, 242, 0.5);
  --theme-color-cyan-50--a-75: rgba(213, 236, 242, 0.75);
  --theme-color-cyan-100: #c9e7ee;
  --theme-color-cyan-100--a-25: rgba(201, 231, 238, 0.25);
  --theme-color-cyan-100--a-50: rgba(201, 231, 238, 0.5);
  --theme-color-cyan-100--a-75: rgba(201, 231, 238, 0.75);
  --theme-color-cyan-200: #addbe6;
  --theme-color-cyan-200--a-25: rgba(173, 219, 230, 0.25);
  --theme-color-cyan-200--a-50: rgba(173, 219, 230, 0.5);
  --theme-color-cyan-200--a-75: rgba(173, 219, 230, 0.75);
  --theme-color-cyan-300: #84c8d9;
  --theme-color-cyan-300--a-25: rgba(132, 200, 217, 0.25);
  --theme-color-cyan-300--a-50: rgba(132, 200, 217, 0.5);
  --theme-color-cyan-300--a-75: rgba(132, 200, 217, 0.75);
  --theme-color-cyan-400: #46adc5;
  --theme-color-cyan-400--a-25: rgba(70, 173, 197, 0.25);
  --theme-color-cyan-400--a-50: rgba(70, 173, 197, 0.5);
  --theme-color-cyan-400--a-75: rgba(70, 173, 197, 0.75);
  --theme-color-cyan-500: #0891b2;
  --theme-color-cyan-500--a-25: rgba(8, 145, 178, 0.25);
  --theme-color-cyan-500--a-50: rgba(8, 145, 178, 0.5);
  --theme-color-cyan-500--a-75: rgba(8, 145, 178, 0.75);
  --theme-color-cyan-600: #06748f;
  --theme-color-cyan-600--a-25: rgba(6, 116, 143, 0.25);
  --theme-color-cyan-600--a-50: rgba(6, 116, 143, 0.5);
  --theme-color-cyan-600--a-75: rgba(6, 116, 143, 0.75);
  --theme-color-cyan-700: #045b6f;
  --theme-color-cyan-700--a-25: rgba(4, 91, 111, 0.25);
  --theme-color-cyan-700--a-50: rgba(4, 91, 111, 0.5);
  --theme-color-cyan-700--a-75: rgba(4, 91, 111, 0.75);
  --theme-color-cyan-800: #03495a;
  --theme-color-cyan-800--a-25: rgba(3, 73, 90, 0.25);
  --theme-color-cyan-800--a-50: rgba(3, 73, 90, 0.5);
  --theme-color-cyan-800--a-75: rgba(3, 73, 90, 0.75);
  --theme-color-cyan-900: #033744;
  --theme-color-cyan-900--a-25: rgba(3, 55, 68, 0.25);
  --theme-color-cyan-900--a-50: rgba(3, 55, 68, 0.5);
  --theme-color-cyan-900--a-75: rgba(3, 55, 68, 0.75);
  --theme-color-cyan-950: #022932;
  --theme-color-cyan-950--a-25: rgba(2, 41, 50, 0.25);
  --theme-color-cyan-950--a-50: rgba(2, 41, 50, 0.5);
  --theme-color-cyan-950--a-75: rgba(2, 41, 50, 0.75);
  --theme-color-cyan-975: #01171d;
  --theme-color-cyan-975--a-25: rgba(1, 23, 29, 0.25);
  --theme-color-cyan-975--a-50: rgba(1, 23, 29, 0.5);
  --theme-color-cyan-975--a-75: rgba(1, 23, 29, 0.75);
  --theme-color-blue: #2563eb;
  --theme-color-blue--a-25: rgba(37, 99, 235, 0.25);
  --theme-color-blue--a-50: rgba(37, 99, 235, 0.5);
  --theme-color-blue--a-75: rgba(37, 99, 235, 0.75);
  --theme-color-blue-25: #e9effd;
  --theme-color-blue-25--a-25: rgba(233, 239, 253, 0.25);
  --theme-color-blue-25--a-50: rgba(233, 239, 253, 0.5);
  --theme-color-blue-25--a-75: rgba(233, 239, 253, 0.75);
  --theme-color-blue-50: #dae4fc;
  --theme-color-blue-50--a-25: rgba(218, 228, 252, 0.25);
  --theme-color-blue-50--a-50: rgba(218, 228, 252, 0.5);
  --theme-color-blue-50--a-75: rgba(218, 228, 252, 0.75);
  --theme-color-blue-100: #cfddfb;
  --theme-color-blue-100--a-25: rgba(207, 221, 251, 0.25);
  --theme-color-blue-100--a-50: rgba(207, 221, 251, 0.5);
  --theme-color-blue-100--a-75: rgba(207, 221, 251, 0.75);
  --theme-color-blue-200: #b7ccf8;
  --theme-color-blue-200--a-25: rgba(183, 204, 248, 0.25);
  --theme-color-blue-200--a-50: rgba(183, 204, 248, 0.5);
  --theme-color-blue-200--a-75: rgba(183, 204, 248, 0.75);
  --theme-color-blue-300: #92b1f5;
  --theme-color-blue-300--a-25: rgba(146, 177, 245, 0.25);
  --theme-color-blue-300--a-50: rgba(146, 177, 245, 0.5);
  --theme-color-blue-300--a-75: rgba(146, 177, 245, 0.75);
  --theme-color-blue-400: #5c8af0;
  --theme-color-blue-400--a-25: rgba(92, 138, 240, 0.25);
  --theme-color-blue-400--a-50: rgba(92, 138, 240, 0.5);
  --theme-color-blue-400--a-75: rgba(92, 138, 240, 0.75);
  --theme-color-blue-500: #2563eb;
  --theme-color-blue-500--a-25: rgba(37, 99, 235, 0.25);
  --theme-color-blue-500--a-50: rgba(37, 99, 235, 0.5);
  --theme-color-blue-500--a-75: rgba(37, 99, 235, 0.75);
  --theme-color-blue-600: #1d4fbd;
  --theme-color-blue-600--a-25: rgba(29, 79, 189, 0.25);
  --theme-color-blue-600--a-50: rgba(29, 79, 189, 0.5);
  --theme-color-blue-600--a-75: rgba(29, 79, 189, 0.75);
  --theme-color-blue-700: #153d93;
  --theme-color-blue-700--a-25: rgba(21, 61, 147, 0.25);
  --theme-color-blue-700--a-50: rgba(21, 61, 147, 0.5);
  --theme-color-blue-700--a-75: rgba(21, 61, 147, 0.75);
  --theme-color-blue-800: #103178;
  --theme-color-blue-800--a-25: rgba(16, 49, 120, 0.25);
  --theme-color-blue-800--a-50: rgba(16, 49, 120, 0.5);
  --theme-color-blue-800--a-75: rgba(16, 49, 120, 0.75);
  --theme-color-blue-900: #0e255a;
  --theme-color-blue-900--a-25: rgba(14, 37, 90, 0.25);
  --theme-color-blue-900--a-50: rgba(14, 37, 90, 0.5);
  --theme-color-blue-900--a-75: rgba(14, 37, 90, 0.75);
  --theme-color-blue-950: #0a1c42;
  --theme-color-blue-950--a-25: rgba(10, 28, 66, 0.25);
  --theme-color-blue-950--a-50: rgba(10, 28, 66, 0.5);
  --theme-color-blue-950--a-75: rgba(10, 28, 66, 0.75);
  --theme-color-blue-975: #061026;
  --theme-color-blue-975--a-25: rgba(6, 16, 38, 0.25);
  --theme-color-blue-975--a-50: rgba(6, 16, 38, 0.5);
  --theme-color-blue-975--a-75: rgba(6, 16, 38, 0.75);
  --theme-color-orange: #ea580c;
  --theme-color-orange--a-25: rgba(234, 88, 12, 0.25);
  --theme-color-orange--a-50: rgba(234, 88, 12, 0.5);
  --theme-color-orange--a-75: rgba(234, 88, 12, 0.75);
  --theme-color-orange-25: #fdeee7;
  --theme-color-orange-25--a-25: rgba(253, 238, 231, 0.25);
  --theme-color-orange-25--a-50: rgba(253, 238, 231, 0.5);
  --theme-color-orange-25--a-75: rgba(253, 238, 231, 0.75);
  --theme-color-orange-50: #fbe3d6;
  --theme-color-orange-50--a-25: rgba(251, 227, 214, 0.25);
  --theme-color-orange-50--a-50: rgba(251, 227, 214, 0.5);
  --theme-color-orange-50--a-75: rgba(251, 227, 214, 0.75);
  --theme-color-orange-100: #fadaca;
  --theme-color-orange-100--a-25: rgba(250, 218, 202, 0.25);
  --theme-color-orange-100--a-50: rgba(250, 218, 202, 0.5);
  --theme-color-orange-100--a-75: rgba(250, 218, 202, 0.75);
  --theme-color-orange-200: #f8c8af;
  --theme-color-orange-200--a-25: rgba(248, 200, 175, 0.25);
  --theme-color-orange-200--a-50: rgba(248, 200, 175, 0.5);
  --theme-color-orange-200--a-75: rgba(248, 200, 175, 0.75);
  --theme-color-orange-300: #f5ac86;
  --theme-color-orange-300--a-25: rgba(245, 172, 134, 0.25);
  --theme-color-orange-300--a-50: rgba(245, 172, 134, 0.5);
  --theme-color-orange-300--a-75: rgba(245, 172, 134, 0.75);
  --theme-color-orange-400: #ef8249;
  --theme-color-orange-400--a-25: rgba(239, 130, 73, 0.25);
  --theme-color-orange-400--a-50: rgba(239, 130, 73, 0.5);
  --theme-color-orange-400--a-75: rgba(239, 130, 73, 0.75);
  --theme-color-orange-500: #ea580c;
  --theme-color-orange-500--a-25: rgba(234, 88, 12, 0.25);
  --theme-color-orange-500--a-50: rgba(234, 88, 12, 0.5);
  --theme-color-orange-500--a-75: rgba(234, 88, 12, 0.75);
  --theme-color-orange-600: #bc4609;
  --theme-color-orange-600--a-25: rgba(188, 70, 9, 0.25);
  --theme-color-orange-600--a-50: rgba(188, 70, 9, 0.5);
  --theme-color-orange-600--a-75: rgba(188, 70, 9, 0.75);
  --theme-color-orange-700: #933606;
  --theme-color-orange-700--a-25: rgba(147, 54, 6, 0.25);
  --theme-color-orange-700--a-50: rgba(147, 54, 6, 0.5);
  --theme-color-orange-700--a-75: rgba(147, 54, 6, 0.75);
  --theme-color-orange-800: #772b04;
  --theme-color-orange-800--a-25: rgba(119, 43, 4, 0.25);
  --theme-color-orange-800--a-50: rgba(119, 43, 4, 0.5);
  --theme-color-orange-800--a-75: rgba(119, 43, 4, 0.75);
  --theme-color-orange-900: #592104;
  --theme-color-orange-900--a-25: rgba(89, 33, 4, 0.25);
  --theme-color-orange-900--a-50: rgba(89, 33, 4, 0.5);
  --theme-color-orange-900--a-75: rgba(89, 33, 4, 0.75);
  --theme-color-orange-950: #421903;
  --theme-color-orange-950--a-25: rgba(66, 25, 3, 0.25);
  --theme-color-orange-950--a-50: rgba(66, 25, 3, 0.5);
  --theme-color-orange-950--a-75: rgba(66, 25, 3, 0.75);
  --theme-color-orange-975: #260e02;
  --theme-color-orange-975--a-25: rgba(38, 14, 2, 0.25);
  --theme-color-orange-975--a-50: rgba(38, 14, 2, 0.5);
  --theme-color-orange-975--a-75: rgba(38, 14, 2, 0.75);
}
